# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# PyCharm
.idea/

# VS Code
.vscode/

# Generated folders
models/
outputs/

# Data files
nids/data/
